/* ! Dont port to Sheezy */

@font-face {
    font-family: daxfont;
    src: url(https://file.garden/ZnGZOv7aF21WeO00/DAXT_regular.ttf);
}


body {
background-color: #1f1f1f;
position: relative;

}

h1, h4 {
text-align: center;
color: rgb(224, 165, 0);
}

h3,h2{
color: rgb(224, 165, 0);
}



html{
scroll-behavior: smooth;
font-family: daxfont !important;
cursor: url('https://daxdoodles.neocities.org/Pencil.png'), auto;
margin: auto;
}

blockquote {
border-radius: 30px;
padding: 5px;
background-color: black;

}

img{
width: 200px;
display:flex;
justify-content: center;
align-items: center;
}

div.likes > img{
 width: 20px;
}
div.likes{
 margin: 5px 20px 0px 0px;
}

.home-desc, #comments_list + a {
  display: none !important;
}


#HCB_comment_box {
font-family: "daxfont" !important;
height:auto;
padding:2rem !important;
border-radius: 30px;
cursor: url('https://daxdoodles.neocities.org/Pencil.png'), auto;
}

#hcb_submit, .submit.btn, #hcb_file, .inputfile, #hcb_file_label, .btn, .btn-secondary{
font-family: "daxfont" !important;
font-size: 18px !important;
border-radius: 30px !important;
padding: 15px !important;accent-color: 
cursor: url('https://daxdoodles.neocities.org/Pencil.png'), auto !important;
}

#HCB_comment_box #hcb_form .btn, #HCB_comment_box #HCB_comment_form_box .btn{
  color: orange !important;
 cursor: url('https://daxdoodles.neocities.org/Pencil.png'), auto !important;
}

#HCB_comment_box #hcb_form .btn-secondary, #HCB_comment_box #HCB_comment_form_box .btn-secondary{
  background: orange !important;
  color: black !important;
  animation: none !important;
  cursor: url('https://daxdoodles.neocities.org/Pencil.png'), auto !important;
}

#HCB_comment_box h3{
display: none;
}



#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email,
#HCB_comment_box #hcb_form_name,
#HCB_comment_box #hcb_form_website,
#HCB_comment_box .author-name,
#HCB_comment_box .hcb-comment-body,
#HCB_comment_box .hcb-comment-tb a {
background-color: black;  
border:none;
border-radius: 20px;
font-size: 20px !important; 
font-family: "daxfont" !important;
padding: 20px 20px 20px 20px !important;
color: whitesmoke;
cursor: url('https://daxdoodles.neocities.org/Pencil.png'), auto;
  }

#HCB_comment_box .author-name{
color: orange !important;
}

#comments_list, #HCB_comment_box blockquote {
  color: whitesmoke;
  border-radius: 30px;
  padding: 5px;
  }


.hcb-comment-tb button {
  font-family: "daxfont" !important;
  font-size: 18px;
  color: black !important;
  border: none;
  margin: 3px 1rem 1rem 2rem;
  cursor: pointer;
  background-color: orange !important;
  width: 100px;
  border-radius: 30px !important;
  cursor: url('https://daxdoodles.neocities.org/Pencil.png'), auto !important;
}

.hcb-comment-tb button:hover {
  background-color: orangered !important;
}


